<!doctype html>
<html lang="en">
<head>

<!-- Basic Page Needs
================================================== -->
<title>Share my photos</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- CSS
================================================== -->
<link rel="stylesheet" href="/public/css/bootstrap.min.css">
<link rel="stylesheet" href="/public/css/style.css?v=1">
<link rel="stylesheet" href="/public/css/colors/blue.css">

<!-- Scripts
================================================== -->
<script src="/public/js/jquery-3.3.1.min.js"></script>
<script src="/public/js/jquery-migrate-3.0.0.min.js"></script>
<script src="/public/js/mmenu.min.js"></script>
<script src="/public/js/tippy.all.min.js"></script>
<script src="/public/js/simplebar.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/bootstrap-slider.min.js"></script>
<script src="/public/js/bootstrap-select.min.js"></script>
<script src="/public/js/snackbar.js"></script>
<script src="/public/js/clipboard.min.js"></script>
<script src="/public/js/counterup.min.js"></script>
<script src="/public/js/magnific-popup.min.js"></script>
<script src="/public/js/slick.min.js"></script>
<script src="/public/js/custom.js"></script>

</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <% months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]; %>
 
    <script>
        var months = ["January", "February", "March", "April", "May","June", "July", "August", "September", "0ctober", "November","December"];
    </script>

<!-- Header Container
================================================== -->
<header id="header-container" class="fullwidth">

    <!-- Header -->
    <div id="header">
        <div class="container">
            
            <!-- Left Side Content -->
            <div class="left-side">
                
                <!-- Logo -->
                <div id="logo">
                    <a href="/"><img src="/public/images/logo.png" alt=""></a>
                </div>
            </div>

            <!-- Left Side Content / End -->



            <!-- Right Side Content / End -->
            <div class="right-side">


                <!-- Show uploads and logout button when logged in  -->
                <% if (typeof isLogin !== "undefined" && isLogin) { %> 

                    <nav id="navigation">
                        <ul id="responsive">

                            <li>
                                <a href="/panorama">
                                    <i class="icon-material-outline-backup"></i> Panorama
                                </a>
                            </li>
        
                            <li>
                                <a href="/my_uploads">
                                    <i class="icon-material-outline-backup"></i> My Uploads
                                </a>
                            </li>
        
                            <li>
                                <a href="/logout">
                                    <i class="icon-material-outline-backup"></i> Logout
                                </a>
                            </li>
                        </ul>
                    </nav>


                    <div class="header-widget">

                        <div class="header-notifications user-menu">
                            <div class="header-notifications-trigger">
                                <a href="#">
                                    <div class="user-avatar status-online">
                                            <img src="https://img.search.brave.com/hA38fEZmQbkBMcgSkHmgQie4wiWPF1TrTt1GUfacBow/rs:fit:500:466:1/g:ce/aHR0cHM6Ly9pMi53/cC5jb20vYnVkZHlt/YW50cmEuY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDE4LzA0/L3VzZXItaWNvbi1w/bmctcG5nbG9nb2Nv/bS5wbmc_Zml0PTUw/MCUyQzQ2NiZzc2w9/MQ" alt="User profile">
                                    </div>
                                </a>
                            </div>



                            <div class="header-notifications-dropdown">
  
                                <div class="user-status">
                                    <div class="user-details">
                                        <div class="user-avatar status-online">
                                                <img src="https://img.search.brave.com/hA38fEZmQbkBMcgSkHmgQie4wiWPF1TrTt1GUfacBow/rs:fit:500:466:1/g:ce/aHR0cHM6Ly9pMi53/cC5jb20vYnVkZHlt/YW50cmEuY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDE4LzA0/L3VzZXItaWNvbi1w/bmctcG5nbG9nb2Nv/bS5wbmc_Zml0PTUw/MCUyQzQ2NiZzc2w9/MQ" alt="">
                                        </div>
                                        <div class="user-name">
                                                <%= user.name %>
                                                <span><%= user.email %></span>
                                        </div>
                                    </div>
                                </div>

                            </div> 
                        </div>
                    </div>
                    
                    <!-- show loggin and regestration button  -->

                    <% } else { %>
                        <nav id="navigation">
                            <ul id="responsive">
                                <li><a href="/login">Login</a></li>
                                <li><a href="/register">Register</a></li>
                            </ul>
                        </nav>
            
                    <% } %>
                               
            </div>
            <!-- Right Side Content / End -->

        </div>
    </div>
    <!-- Header / End -->

</header>
<div class="clearfix"></div>
<!-- Header Container / End -->
