<%- include ("partials/header") %>

<!-- Select picture  -->
<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <!-- notification when the upload id succesfull  -->
      <% if (typeof query.message !== "undefined") { %>
        <div class="notification success closeable">
            <% if (query.message == "image_uploaded") { %>
                Image has been successfully uploaded.
            <% } %>
        </div>
      <% } %>
      
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          
          <div class="card" style="border-radius: 1rem">
            
              <div class=" align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <div class="login-register-page">
                    <div class="welcome-text">
                      <% if (typeof isLogin !== "undefined" && isLogin) { %>
                        <!-- action="/upload-image" : Upload image in Node JS and save path in Mongo DB -->
                
                        <form method="POST" action="/upload-image" id="form-upload-image" enctype="multipart/form-data" style="margin-bottom: 20px;">
                          <h3 class="text-center" style="margin-bottom: 3%;">Upload Image</h3>
                          <div class="upload_section" style="margin-bottom: 2%;" >
                           
                            <input type="file" id="input-file-image" name="image" accept="image/*" required style="display: none;" onchange="showImageInModal(this);">
                
                            <form>
                              <div class="row">
                                <div class="col">
                                  <label class="lead"><strong>Title :</strong></label>
                                  <input type="text" name="_title"  class="form-control" placeholder="Enter your desired title here">
                                </div>
                                <div class="col">
                                  <label class="lead"><strong> Description :</strong> </label>
                                  <input type="text" name="_description" class="form-control" placeholder="Enter a description of your image here">
                                </div>
                              </div>
                            </form>

                          </div>

                          <a href="javascript:void(0);" onclick="$('#input-file-image').click();" class="btn btn-dark btn-lg btn-block" > Choose file</a>
                                                                       
                        </form>
                      <% } else { %>
                        <h3 style="font-size: 26px"><a href="/register"> Sign Up</a> or <a href="/login">Log In</a> to Upload images </h3> 
                    <% } %> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- view uploaded image  -->
      <div class="row" style="margin-top: 3%;">
        <div class="col-xl-12">
            <div class="blog-carousel1 row">

              <% images.forEach(function(image) { %>
                <div class="col-md-4">
                    <a href="/view-image?_id=<%= image._id %>" class="blog-compact-item-container">
                        <div class="blog-compact-item">

                            <!-- display image  -->
                            <img src="<%= image.filePath %>" alt="User profile image">

                            <!-- add date and username to image display  -->
                            <div class="blog-compact-item-content">
                              <h3><%= image.title %></h3>
                              <ul class="blog-post-tags">
                                <li>
                                  <%  var createdAt = new Date(image. createdAt);
                                      var date = createdAt.getDate() + ""; %>
                                  <%= date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear() %>
                                </li>
                              </ul>
                              <h3><%= image.user.name %></h3>
                            </div>
                          </div>
                      </a>
                  </div>
              <% }) %>

            </div>
          </div>
        </div>
     </div>
 
 <!-- Preview selected picture -->

<div class="modal" id="modal-image-upload">
  <div class="modal-dialog">
      <div class="modal-content">

          <div class="modal-header">
              <h5 class="modal-title">Upload Image</h5>
              <button type="button" class="close" data-dismiss="modal">
                   <span>&times;</span>
              </button>
          </div>

          <div class="modal-body">
              <img id="preview">
          </div>

          <div class="modal-footer">
              <button type="submit" form="form-upload-image" class="
              button ripple-effect">Upload Image</button>
              <button type="button" class="button gray
               ripple-effect-dark" data-dismiss="modal">Close</button>
          </div>

      </div>
  </div>   
</div>
</div>
<script>
  function showImageInModal(file) {
              var file = document.getElementById("input-file-image").files;
              if (file.length > 0) {
                  var fileReader = new FileReader();
                  fileReader.onload = function (event) { 
                      document.getElementById("preview").setAttribute("src", event.target.result);
                      $("#modal-image-upload").modal("show");

                  };
                  fileReader.readAsDataURL(file[0]);
              }
          }
</script>

<%- include ("partials/footer") %>
</section>



