<%- include ("partials/header") %>

<section class="vh-100" style="background-color: #9a616d">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://img.search.brave.com/Ph6Cwq8CeGuy0-4JUSE725ehN7RKv4pwMnXc8T3NNuQ/rs:fit:408:612:1/g:ce/aHR0cHM6Ly9tZWRp/YS5pc3RvY2twaG90/by5jb20vcGhvdG9z/L2hvdC1zdW1tZXIt/c3Vuc2V0LWF0LXRy/b3BpY2FsLWlzbGFu/ZC1iZWFjaC13aXRo/LWNvY29udXQtdHJl/ZXMtcGljdHVyZS1p/ZDE1NTE0Mjk4Mz9r/PTYmbT0xNTUxNDI5/ODMmcz02MTJ4NjEy/Jnc9MCZoPW42R2hV/Yi1CcGFwWWpkR3pT/bThGcjIxd0czdzNu/bmFfRnUxRG1yZ291/cWc9"
                alt="login form"
                class="img-fluid"
                style="border-radius: 1rem 0 0 1rem"
              />
            </div>

            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <div class="login-register-page">
                  <div class="welcome-text">
                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                      Sign into your account
                    </h3>
                    <span
                      >Don't have an account?
                      <a href="/register"> Sign Up!</a></span
                    >
                  </div>

                  <% if (typeof query.message !== "undefined") { %>

                  <div class="notification success closeable">
                    <% if (query.message == "registered") { %> Account has been
                    created. Please login now. <% } %> <% if (query. message ==
                    "password_reset") { %> Password has been changed. Please
                    login now. <% } %>
                  </div>
                  <% } %> <% if (typeof query.error !== "undefined") { %>

                  <div class="notification error closeable">
                    <% if (query.error == "not_exists") { %> Email does not
                    exists. <% } %> <% if (query.error == "wrong_password") { %>
                    Password is incorrect. <% } %> <% if (query.error ==
                    "user_deleted") { %> User has been deleted. <% } %>
                  </div>
                  <% } %>

                  <form method="POST" action="/login">
                    <div class="input-with-icon-left">
                      <i class="icon-material-baseline-mail-outline"></i>
                      <input
                        type="text"
                        class="input-text with-border"
                        name="email"
                        placeholder="Email Address"
                        required
                      />
                    </div>

                    <div class="input-with-icon-left">
                      <i class="icon-material-outline-lock"></i>
                      <input
                        type="password"
                        class="input-text with-border"
                        name="password"
                        placeholder="Password"
                        required
                      />
                    </div>

                    <button class="btn btn-dark btn-lg btn-block" type="submit">
                      Login
                      <i class="icon-material-outline-arrow-right-alt"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ("partials/footer") %>
</section>


