<%- include ("partials/header") %>



<section class="vh-100" style="background-color: #9A616D;">
  <div class="container py-5 h-100">

    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        
        <div class="card" style="border-radius: 1rem">
          
            <div class=" align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <div class="login-register-page">
                  <div class="welcome-text">

                    <div class="input-group">
                      <input  type="search" id="imageT" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"  />
                      <button type="button" class="btn btn-outline-primary" onclick="myFunction()" >search</button>
                    </div>
                    
                    <div id="myDIV">
                      <% images.forEach(function(image) { if (image.title == "image" ){ %>
                          <img src="<%= image.filePath %>" />
                      <%} }) %>

                    </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col col-xl-12" style="margin-top: 3%;">
      <div class="row">
          <div class="col-xl-12 col-lg-12">
              <div class="blog-post single-post">
                <body>
                  <div id="arrow-left" class="arrow"></div>
                  <% images.forEach(function(image) { %>
                    <div class="slide" style="background-image: url('<%= image.filePath %>') ;">
                      <p class="blog-post-info"><%= image.title %></p>
                    </div>
                    
                  <% }) %>
                  <div id="arrow-right" class="arrow"></div>
                </body>
            </div>
          </div>
        </div>
      </div>
  </div>



    <%- include ("partials/footer") %>
  </section>



<script>
  let sliderImages = document.querySelectorAll(".slide"),
    arrowLeft = document.querySelector("#arrow-left"),
    arrowRight = document.querySelector("#arrow-right"),
    input = document.getElementById("imageT"),
    filterValue = input.value
    current = 0;


  // Clear all images
  function reset() {
    for (let i = 0; i < sliderImages.length; i++) {
      sliderImages[i].style.display = "none";
    }
  }

  // check input
  function getInput(){
    input = document.getElementById("imageT").value;
    filter = input.value;
    return filter;
  }

  function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  console.log(input);
}


  // Initial slide
  function startSlide() {
    reset();
    sliderImages[0].style.display = "block";
  }

  // Show previous
  function slideLeft() {
    reset();
    sliderImages[current - 1].style.display = "block";
    current--;
  }

  // Show next
  function slideRight() {
    reset();
    sliderImages[current + 1].style.display = "block";
    current++;
  }

  // Left arrow click
  arrowLeft.addEventListener("click", function () {
    if (current === 0) {
      current = sliderImages.length;
    }
    slideLeft();
  });

  // Right arrow click
  arrowRight.addEventListener("click", function () {
    if (current === sliderImages.length - 1) {
      current = -1;
    }
    slideRight();
  });

  startSlide();
</script>

<style>
  .slide {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .slide1 {
    background-image: url("https://media.geeksforgeeks.org/wp-content/uploads/20210812221217/pic1.png");
  }
  .slide2 {
    background-image: url("https://media.geeksforgeeks.org/wp-content/uploads/20210812221254/pic2.png");
  }
  .slide3 {
    background-image: url("https://media.geeksforgeeks.org/wp-content/uploads/20210812221322/pic3.png");
  }
  .arrow {
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  #arrow-left {
    border-width: 20px 30px 20px 0;
    border-color: transparent rgb(14, 88, 224) transparent transparent;
    left: 0;
    margin-left: 20px;
  }

  #arrow-right {
    border-width: 20px 0 20px 30px;
    border-color: transparent transparent transparent rgb(14, 88, 224);
    right: 0;
    margin-right: 20px;
  }

  #myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 25%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    margin-left: 2%;
}



</style>
