<%- include ("partials/header") %>

<section class="vh-100" style="background-color: #9a616d">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <div class="login-register-page">
                  <div class="welcome-text">
                    <h3 style="font-size: 26px">Create your account</h3>
                    <span
                      >Already have an account?
                      <a href="/login">Log In!</a></span
                    >
                  </div>

                  <% if (typeof query.error !== "undefined") { %>
                  <div class="notification error closeable">
                    <% if (query.error == "mismatch") { %> Password does not
                    match. <% } %> <% if (query.error == "exists") { %> Email
                    already exists. <% } %>
                  </div>
                  <% } %>

                  <form method="POST" action="/register">
                    <div class="input-with-icon-left">
                      <i class="icon-material-baseline-mail-outline"></i>
                      <input
                        type="text"
                        class="input-text with-border"
                        name="name"
                        placeholder="Enter name"
                        required
                      />
                    </div>

                    <div class="input-with-icon-left">
                      <i class="icon-material-baseline-mail-outline"></i>
                      <input
                        type="email"
                        class="input-text with-border"
                        name="email"
                        placeholder="Email Address"
                        required
                      />
                    </div>

                    <div
                      class="input-with-icon-left"
                      data-tippy-placement="bottom"
                    >
                      <i class="icon-material-outline-lock"></i>
                      <input
                        type="password"
                        class="input-text with-border"
                        name="password"
                        placeholder="Password"
                        required
                      />
                    </div>

                    <div class="input-with-icon-left">
                      <i class="icon-material-outline-lock"></i>
                      <input
                        type="password"
                        class="input-text with-border"
                        name="confirm_password"
                        placeholder="Repeat Password"
                        required
                      />
                    </div>

                    <button class="btn btn-dark btn-lg btn-block" type="submit">
                      Register
                      <i class="icon-material-outline-arrow-right-alt"></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://img.search.brave.com/qp9wgAVXsvRKVmvtLoxldjxwwjTJDuZBv6XngHABWK8/rs:fit:736:1107:1/g:ce/aHR0cHM6Ly9pLnBp/bmltZy5jb20vNzM2/eC80Ny8yYi82MS80/NzJiNjFkNDliYjJj/ODQ3YmI3ZTA2NjU0/OTdhZjQ3ZS5qcGc"
                alt="login form"
                class="img-fluid"
                style="border-radius: 0 1rem 1rem 0"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%- include ("partials/footer") %>
</section>
