<%- include ("partials/header") %>

<section class="vh-100" style="background-color: #9A616D;">
<div class="container py-5 h-100">

  <div class="row">

      <div class="col-xl-12 col-lg-12">
          <div class="blog-post single-post">

              <div class="blog-post-thumbnail">
                  <div class="blog-post-thumbnail-inner">
                       <img src="<%= image.filePath %>" />
                   </div>
              </div>

              <div class="blog-post-content">
                   <h3 class="margin-bottom-10">
                       <span class="lead">Posted by: </span>
                       <%= image.user.name %>
                   </h3>



                  <div class="blog-post-info-list margin-bottom-20">
                    <a href="#" class="blog-post-info">
                      <%
                        var createdAt = new Date(image.createdAt);
                        var date = createdAt.getDate() + "";
                      %>
                      <%= date.padStart(2, "0") + " " + months[createdAt.getMonth()] + ", " + createdAt.getFullYear() %>
                    </a>

                    <a href="#" class="blog-post-info"><%= image.comments.length%> Comments </a>                                
                  </div>

                  <h4 class="margin-bottom-10">
                    <span class="lead">Title: </span>
                    <%= image.title %>
                  </h4>
                  <h4 class="margin-bottom-50">
                    <span class="lead">Description: </span>
                    <%= image.description %>
                  </h4>

                  <div>
                    <% if (typeof isLogin !== "undefined" && isLogin) { %>                       
                      <form method="POST" action="/view-image/delete/<%= image._id %>">  
                         <input type="hidden" name="_id" value="<%= image.user._id %>">   
                          <button  class="button button-sliding-icon ripple-effect margin-bottom-40 delete_button" type="submit" > Delete<i class="icon-material-outline-arrow-right-alt"></i></button>
                      </form>
                    <% } %>
                  </div>

               </div>

        </div>
      </div>


      <!-- display comments  -->
        <div class="col col-xl-12">
          
          <div class="card" style="border-radius: 1rem">
            
              <div class=" align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">
                  <div class="login-register-page">
                    <div >

                      <div class="row">
                        <div class="col-xl-12">
                            <section class="comments" id="comments">
                
                                <% if (typeof query.message !== "undefined") { %> 
                                <div class="notification success closeable">                        
                                     <% if (query.message == "success") { %>
                                        Your comment has been posted.
                                     <% } %>
                                </div>
                                <% } %>
                                                              
                                <% if (typeof query.error !== "undefined") { %>
                                <div class="notification error closeable">
                                     <% if (query.error ==  "not_login") { %>
                                        You have been logged out. Please login again.
                                     <% } else if (query.error ==  "not_user") { %>
                                        You can't delete images that don't belong to you
                                   <% } %>
                                </div>
                                <% } %>
                
                                <h3 class="margin-top-45 margin-bottom-0">Comments <span class="comments-amount">(<%= image.comments.length %>)</span></h3>
                
                                <ul>
                                    <% image.comments = image.comments.reverse(); %>
                                    <% image.comments.forEach( function(comment){ %>
                                          <li>
                                              <div class="avatar"><img src="https://img.search.brave.com/hA38fEZmQbkBMcgSkHmgQie4wiWPF1TrTt1GUfacBow/rs:fit:500:466:1/g:ce/aHR0cHM6Ly9pMi53/cC5jb20vYnVkZHlt/YW50cmEuY29tL3dw/LWNvbnRlbnQvdXBs/b2Fkcy8yMDE4LzA0/L3VzZXItaWNvbi1w/bmctcG5nbG9nb2Nv/bS5wbmc_Zml0PTUw/MCUyQzQ2NiZzc2w9/MQ"/></div>
                
                                              <div class="comment-content">                           
                                                  <div class="arrow-comment"></div>
                                                  <div class="comment-by"><%= comment.user.name %><span class="date">
                
                                                    <% var createdAt = new Date(comment.createdAt);
                                                      var date = createdAt.getDate() + ""; %>
                
                                                    <%= date.padStart(2, "0") + " " + months [createdAt.getMonth()] + ", " + createdAt.getFullYear() %></span>                                     
                                                  </div>
                                                  <p><%=comment.comment %></p>
                                                </div>
                                            </li>
                                          <% }) %> 
                                </ul>
                            </section>
                        </div>
                      </div>
                
                  </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>




      <!-- add a comment  -->
      <div class="row">
        <div class="col-xl-12">

            <h2 class="margin-top-35 margin-bottom-30" style="color: white;">Add Comment</h2>

            <% if (typeof isLogin !== "undefined" && isLogin) { %>
            <form method="POST" action="/do-comment">
                <input type="hidden" name="_id" value="<%= image._id %>">
                <textarea name="comment" cols="30" rows="5" placeholder="Comment"></textarea>

                <button class="button button-sliding-icon ripple-effect margin-bottom-40" type="submit"> Add Comment <i class="icon-material-outline-arrow-right-alt"></i></button>
            </form>
            <% } else { %>
            <div class="notification error closeable">
                Only registered users can comment.
            </div>
            <% } %>
        </div>
      </div>

</div>



<%- include ("partials/footer") %>

</section>